@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1e1e1e;
  --background: #fedadb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #1e1e1e;
  }
}

body {
  height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
